
.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

/* Header section start */
#backGround {
    background-image: url("./assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
    margin-bottom: 50px;
}

.future {
    font-size: 50px;
}

.paragraph {
    margin-top: 20px;
    margin-bottom: 32px;
    font-size: 16px;
}

.btn {
    background-color: black;
    color: aliceblue;
    padding: 20px;
    font-size: 20px;
    border: 10px;
    border-radius: 10px;
}
/* Header section end */

/* Why Web Development section start */
#midline {
    background-color: hsl(195, 20%, 96%);
    width: 85%;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
}

.mainmid {
    margin: 10px;
}

.midlinediv {
    text-align: center;
    padding: 30px;
}

.coding {
    display: flex;
    justify-content: space-between;
    background-color:#FFFFFF;
    margin: 25px;
    padding: 30px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #FFFFFF , hsl(195, 20%, 96%));
}

.codingg {
    background-image: linear-gradient(to right, hsl(195, 20%, 96%), #FFFFFF);
}

.headcode {
    font-size: 24px;
    color: #7b7d81;
}

.code {
    width: 50%;
}

.btncode {
    font-size: 20px;
    padding: 10px 20px;
}
/* Why Web Development section end */


/* Inspiration start */
#videopart {
    width: 85%;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.hpvideo{
    padding-left: 30px;
    padding-right: 30px;
}

.youtube {
    width: 100%;
    height: 500px;
    border-radius: 10px;
}
/* Inspiration end */

/* Current Target section start */
#current {
    width: 85%;
    margin: auto;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}

.currentlink {
    display: flex;
    
    gap: 30px;
    margin-top: 70px;
}
.hfuture {
    font-size: 24px;
}

.bghtml {
    background-color: #f8e6e2;
    border-radius: 10px;
    text-align: left;
    padding: 30px;
}
.bgcss {
    background-color: #d8e4fc;
    border-radius: 10px;
    text-align: left;
    padding: 30px;
}
.bgjs {
    background-color: #f7efed;
    border-radius: 10px;
    text-align: left;
    padding: 30px;
}
.linkfont {
    color: black;
    font-weight: bold;
}
/* Current Target section end */